.banner-container {
  width: 100%;
  height: 60vh;   /* 60% of screen height */
  overflow: hidden;
  border-radius: 10px;
  margin-top: 40px;   /* Increased gap between navbar and banner */
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
