.cart-page {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.cart-item img {
  width: 100px;
  margin-right: 15px;
}

.details h3 {
  margin: 0;
}

.buy-btn {
  background: #ff5722;
  color: white;
  padding: 6px 12px;
  margin-top: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
