.payment-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
}

.payment-box label {
  display: block;
  margin-bottom: 10px;
}

.pay-btn {
  width: 100%;
  background: orange;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.close-btn {
  width: 100%;
  background: #aaa;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
